@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid brown;
  box-sizing: border-box;
} */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --header-size: 80px;
  --body-height: calc(100vh - var(--header-size));

  color-scheme: dark;
  color: #f7f7f7;

  --base-color-100: #55507d;
  --base-color-200: #403c5e;
  --base-color-300: #35324e;
  --base-color-400: #35324e;
  --base-color-500: #2b2841;
  --base-color-600: #1b182e;
  --base-color-700: #110f1d;
  --primary-color-400: #f97187;
  --secondary-color-400: #44a2e3;

  --input-bg: var(--base-color-200);

  --bg-color: var(--base-color-500);

  --base-dark-100: #abb3ba;
  --base-dark-200: #21292f;
  --base-dark-300: #171c20;

  --bg-dark: #0c0f11;

  --mute-color-300: #adb5bc;
  --mute-color-400: #2d353e;

  --success-color-300: #07be61;
  --success-color-400: #07b75d;

  --color-primary-100: #b1b5ff;
  --color-primary-200: #979cff;
  --color-primary-300: #7e84ff;
  --color-primary-400: #646cff;
  --color-primary-500: #4b54ff;
  --color-primary-600: #313cff;
  --color-primary-700: #1823ff;
  /* --color-primary-800: #5852bf;
  --color-primary-900: #5852bf; */
  --color-secondary-400: #fff764;
  --color-danger-100: #ffb1b5;
  --color-danger-200: #ff979c;
  --color-danger-300: #ff7e84;
  --color-danger-400: #ff646c;
  --color-danger-500: #ff4b54;
  --color-danger-600: #ff313c;
  --color-success-100: #b5ffb1;
  --color-success-200: #9cff97;
  --color-success-300: #84ff7e;
  --color-success-400: #6cff64;
  --color-success-500: #54ff4b;
  --color-success-600: #3cff31;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  background-color: var(--base-color-200);
}
